<launch>
    <!-- Start Zed Ros Wrapper -->
    <include file="$(find zed_wrapper)/launch/zed.launch"/>
    <!-- Start Rviz with config file -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arania_arco)/rviz/config/v1.rviz"/>
    <!-- Start Depth Image To Laser Scan Node -->
    <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
        <remap from="image" to="zed/depth/depth_registered"/>
        <remap from="camera_info" to="zed/depth/camera_info"/>
    </node>
    <!-- Clone zed_depth_camera frame into camera_depth_frame -->
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 0 zed_depth_camera camera_depth_frame 100" />
    
</launch>